/*Main Style*/

:root {
    --primary-color:#f5c7af;
    --secondary-color:#64b6ac;
    --tertiary-color: #13807c;
    --cream: #fffce2;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cream);
    font-size:large;
}

/* Header, Highscore and Countdown style*/
header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .btn, .buttons {
    border: dotted 3px var(--primary-color);
    border-radius: 50%;
    padding: 15px 8px;
    color: var(--white);
    background-color: var(--secondary-color);
    text-shadow:none;
    font-weight: bold;
 }

 .btn:hover, .buttons:hover {
    background: var(--cream);
    color: var(--tertiary-color);
 }

 .buttons {
    padding: 20px 20px;
    margin: 5px;
    font-size: large;
}


 .countdown {
     font-size: xx-large;
     font-weight: bold;
     color: var(--tertiary-color);
 }

 /* Main Section style*/
 
 main h1, main p {
    display: flex;
    justify-content: center;
}

main h1 {
    font-weight: bolder;
    color: var(--primary-color);
    line-height: 2;
    padding: 15px 20px;
}

.submit-start {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 60px;
}

.quiz-content {
    align-items: center;
    text-align: center;
    padding: 50px 50px;
}

.answers {
    list-style-type: None;
    padding: 50px 15px;
}

/* Results*/

.result-input, .final-results {
    margin: 0 auto;
    visibility: hidden;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}

